.menu-list {
  margin: 0.5rem auto 0.5rem;
  width: 100%;
  border-top: 0.5px solid #dddddd;
  border-bottom: 0.5px solid #dddddd;
  padding: 0 0 1rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);

  a {
    width: 22%;
    margin: 1rem 5px 0;
    color: #333;
    display: inline-block;
    text-align: center;
  }

  .isActive {
    font-weight: bold;
    background: #333;
    color: #fff !important;
  }
}
