.menu-list {
  margin: .5rem auto 0.5rem;
  width: 100%;
  border-top: .5px solid #dddddd;
  border-bottom: .5px solid #dddddd;
  padding: 0 0 1rem;

  a {
    // width: 25%;
    // margin: 0.5rem auto;
    // color: #333;
    // display: inline-block;
    // text-align: center;

    width: 22%;
    margin: 1rem 5px 0;
    color: #333;
    display: inline-block;
    text-align: center;
  }

  .isActive {
    font-weight: bold;
    background: #333;
    color: #fff!important;
  }
}
