.menu-list {
  margin: 0 auto 0.5rem;
  width: 97%;

  a {
    // width: 25%;
    // margin: 0.5rem auto;
    // color: #333;
    // display: inline-block;
    // text-align: center;

    width: 20%;
    margin: 1rem 5px 0;
    color: #333;
    display: inline-block;
    text-align: center;
  }

  .isActive {
    font-weight: bold;
    background: #333;
    color: #fff!important;
  }
}
